<!DOCTYPE html>
<html>

<head>
  <title>Extension Settings</title>
  <link rel="stylesheet" type="text/css" href="addon_popup.css">
</head>

<body>
  <div id="content">
    <h1>Parameters for the Hide Website Pluggin</h1>

    <label for="blockedWebsites">Hidden Websites</label>
    <ul id="blockedWebsites"></ul>

    <label for="newWebsite">Add new website</label>
    <input type="text" id="newWebsite">
    <button id="addWebsite">Add Website</button>

    <br>
    <button id="saveSettings">Save Settings</button>
  </div>

  <script src="addon_popup.js"></script>
</body>

</html>